body {
    letter-spacing: 3px !important;
    word-spacing: 10.5px !important;
    line-height: normal !important;
}

p {
    letter-spacing: 3px !important;
    word-spacing: 10.5px !important;
    line-height: normal !important;
}